.Header {
	width: 100%;
	padding-block: 2vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

	&_Title {
		font-size: var(--fs-lg);
		font-weight: var(--fw-normal);
		text-transform: capitalize;
		user-select: none;
		cursor: help;
	}

	&_Toggle {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: var(--fs-lg);
		text-transform: capitalize;
		user-select: none;
		cursor: pointer;
	}
}